@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Estilo da parte deslizante da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: white; /* Cor da parte deslizante */
  }
  
  /* Estilo da pista da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #010C13; /* Cor de fundo da pista */
  }
  
  /* Estilo da parte deslizante quando passar o mouse por cima */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000; /* Cor da parte deslizante quando o mouse passa por cima */
  }